// will render button color of choice by simply passing the variable color of choice

@mixin button($color : $button-grey) {
  display: inline-block;
  height: 40px;
  padding: 0 10px 0 10px;
  line-height: 0;
  border-radius: 4px;
  border: 1px solid darken($color, 12%);
  border-bottom: 2px solid darken($color, 12%);
  background: $color;
  text-align: center;
  font-size: 14px;
  color: white;
  cursor: pointer;
  -webkit-tap-highlight-color: lighten($color, 50%);
}

button {
  @include button();

  &.has-add-icon {
    padding: 0 10px 0 16px;

    &:before {
      content: url('../images/button_add_icon.svg');
      @include position(relative, 1px 6px null null);
    }
  }
}
