.trial-remaining-message {
  width: 100%;
  background: $brown;
  color: $white;
  font-size: 14px;
  padding: 10px {
    top: 8px;
    left: 0;
    right: 0;
  }
}

header {
  width: 100%;
  background: $blue;
  padding: 24px {
    top: 18px;
    left: 0;
    right: 0;
  }
}

.logo {
  @include hide-text();
  @include size(122px 30px);
  background: url("/images/cliniko_logo.svg");
  margin: 0;
}
