---
title: Cliniko - Patients
---

<div class="trial-remaining-message">
  <div class="wrapper">
    Thanks for trialing Cliniko. You have <strong>30 days</strong> free trial remaining in your <a href="#">subscription</a>.
  </div>
</div>
<header>
  <div class="wrapper">
    <h1 class="logo">Cliniko</h1>
  </div>
</header>
<main></main>
<aside></aside>
<!-- <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %> -->
